<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.jolantawojcik.atlasfunkcjonalny" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mozgowie"
            android:label="@string/title_activity_mozgowie" >
        </activity>
        <activity
            android:name=".UkladNerwowy"
            android:label="@string/title_activity_uklad_nerwowy" >
        </activity>
        <activity
            android:name=".Neurony"
            android:label="@string/title_activity_neurony" >
        </activity>
        <activity
            android:name=".Glej"
            android:label="@string/title_activity_glej" >
        </activity>
        <activity
            android:name=".Synapsy"
            android:hardwareAccelerated = "false"
            android:label="@string/title_activity_synapsy" >
        </activity>
        <activity
            android:name=".PodzialUN"
            android:label="@string/title_activity_podzial_un" >
        </activity>
        <activity
            android:name=".Tylomozgowie"
            android:label="Tyłomózgowie" >
        </activity>
        <activity
            android:name=".Miedzymozgowie"
            android:label="Międzymózgowie" >
        </activity>
        <activity
            android:name=".Kresomozgowie"
            android:label="@string/title_activity_kresomozgowie" >
        </activity>
        <activity
            android:name=".Rdzen"
            android:label="@string/title_activity_rdzen" >
        </activity>
        <activity
            android:name=".Most"
            android:label="Most" >
        </activity>
        <activity
            android:name=".Mozdzek"
            android:label="Móżdżek" >
        </activity>
        <activity
            android:name=".Srodmozgowie"
            android:label="Śródmózgowie" >
        </activity>
        <activity
            android:name=".Podwzgorze"
            android:label="@string/title_activity_podwzgorze" >
        </activity>
        <activity
            android:name=".Wzgorze"
            android:label="@string/title_activity_wzgorze" >
        </activity>
        <activity
            android:name=".Przysadka"
            android:label="@string/title_activity_przysadka" >
        </activity>
        <activity
            android:name=".KoraMozgowa"
            android:label="@string/title_activity_kora_mozgowa" >
        </activity>
        <activity
            android:name=".Komory"
            android:label="Komory mózgowe" >
        </activity>
        <activity
            android:name=".JadraPodstawy"
            android:label="@string/title_activity_jadra_podstawy" >
        </activity>
        <activity
            android:name=".Spoidla"
            android:label="@string/title_activity_spoidla" >
        </activity>
        <activity
            android:name=".Hipokamp"
            android:label="@string/title_activity_hipokamp" >
        </activity>
    </application>

</manifest>
